* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'iconfont';  /* project id 2194820 */
    src: url('http://at.alicdn.com/t/font_2194820_vyvd94xbub.eot');
    src: url('http://at.alicdn.com/t/font_2194820_vyvd94xbub.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_2194820_vyvd94xbub.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_2194820_vyvd94xbub.woff') format('woff'),
    url('http://at.alicdn.com/t/font_2194820_vyvd94xbub.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_2194820_vyvd94xbub.svg#iconfont') format('svg');
  }

.iconfont {
    font-family: 'iconfont';
    font-style: normal;
}
a {
    color: #666;
}
body {
    background-color: #f4f4f4;
    font-size: 12px;
    color: #666;
}
#shortcut {
    height: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
#header {
    height: 140px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
#fs {
    height: 480px;
}

#J_seckill {
    height: 260px;
    margin-top: 30px;
}
.w {
    width: 1190px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}