/* 轮播图的样式 */
@font-face {
    font-family: 'iconfont';  /* project id 1896323 */
    src: url('http://at.alicdn.com/t/font_1896323_bdjqbt7foa.eot');
    src: url('http://at.alicdn.com/t/font_1896323_bdjqbt7foa.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1896323_bdjqbt7foa.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1896323_bdjqbt7foa.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1896323_bdjqbt7foa.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1896323_bdjqbt7foa.svg#iconfont') format('svg');
  }
.my-swiper ul, .my-swiper li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.my-swiper {
    position: relative;
    overflow: hidden;
}
.my-swiper.my-swiper-fade {

}
.my-swiper.my-swiper-animate .my-swiper-content {
    position: absolute;
}
.my-swiper.my-swiper-fade .my-swiper-content {
    position: absolute;
}
.my-swiper.my-swiper-fade .my-swiper-content li {
    position: absolute;
}
.my-swiper.my-swiper-animate .my-swiper-content::after {
    content: '';
    display: block;
    clear: both;
}
.my-swiper.my-swiper-animate .my-swiper-content li {
    float: left;
}
.my-swiper .my-swiper-btn {
    width: 25px;
    height: 35px;
    background-color: rgba(0,0,0,.15);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    /* top: 50%;
    margin-top: -17.5px; */
    text-align: center;
    line-height: 35px;
    color: #fff;
    cursor: pointer;
    font-family: 'iconfont';
    font-size: 10px;
}
.my-swiper .my-swiper-btn.my-swiper-rbtn {
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.my-swiper .my-swiper-btn.my-swiper-lbtn {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.my-swiper .my-swiper-spots {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.my-swiper .my-swiper-spots .my-swiper-spot {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    margin: 0 3px;
    cursor: pointer;
    background-color: rgba(0,0,0,.15);
}
.my-swiper .my-swiper-spots .my-swiper-spot.spot-active {
    background-color: #fff;
}